/* normalize CSS */
@font-face {
  font-family: Graphik;
  src: url(../assets/fonts/Graphik-Extralight-Web.woff) format("woff");
  font-weight: 100;
}
@font-face {
  font-family: Graphik;
  src: url(../assets/fonts/Graphik-Regular-Web.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Graphik;

  src: url(../assets/fonts/Graphik-Medium-Web.woff) format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: Graphik;
  src: url(../assets/fonts/Graphik-Semibold-Web.woff) format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Graphik;
  src: url(../assets/fonts/Graphik-Bold-Web.woff) format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: Graphik Web;
  src: url(../assets/fonts/Graphik-Regular-Web.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Graphik Web;
  src: url(../assets/fonts/Graphik-Medium-Web.woff) format("woff");
  font-weight: 500;
  ascent-override: 90%;
  font-style: normal;
}
@font-face {
  font-family: Graphik Web;
  src: url(../assets/fonts/Graphik-Semibold-Web.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-size: 100%; */

}
a {
  text-decoration: none;
  color: #040405;
}
body {
  /* font-family: "Graphik Web Regular Regular"; */
  font-family: "Graphik Web";
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.container {
  width: 100%;
  height: 88vh;
  background-image: url(/assets/header-bg.png);
  background-repeat: no-repeat;
  object-fit: fill;
  position: relative;
  /* background-position: center center; */
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
}
/* .overlay{
    position: absolute;
    width: 100%;
    height: 90vh;
    background-color: #00000011;
z-index: 0;
} */

.navbar {
  height: 74px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.logo {
  width: 30px;
}
.log-in-btn {
}

.log-in-btn a {
  color: #a2a9b6;
  font-weight: 900;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
}
.log-in-btn a:hover {
  background-color: #323843;
  border-radius: 8px;
  color: white;
}

.hero-wrapper {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.green-text {
  color: #00ed82;
}
.green-bg {
  background-color: #00ed82;
}
.hero-section {
  color: white;
  width: 45%;
  height: 40vh;
  /* margin-top: 20px; */
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-item {
  width: 50%;
  /* height: 50%; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-title {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 1;
  margin-bottom: 30px;
}
.item-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.item-image {
  width: 70%;
  height: 60px;
}
.logo {
  /* height: 100%; */
  height: 74px;
  width: 61px;
}
.logo img {
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
}
.item-price {
  font-size: 24px;
  font-weight: 500;

  margin-top: 16px;
  letter-spacing: 0;
  line-height: 1.24;
}
.item-btn {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #040405;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 90%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
}
.item-btn:hover {
  background-color: #1ce783cc;
  cursor: pointer;
}

.hero-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 20px; */
}
.hero-terms,
.hero-sign-up {
  margin-top: 10px;
}

.hero-terms a {
  font-size: 14px;
}
.hero-sign-up a {
  font-size: 16px;
  font-weight: 400;
}
.hero-terms a,
.hero-sign-up a {
  color: white;
  text-decoration: underline;
}

.call-to-action {
  height: 152px;
  width: 100%;
  background: linear-gradient(180deg, #29a869 0.66%, #16181d 99.34%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.call-to-action p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.32;
  color: white;
  margin-top: 30px;
}
.call-to-action a {
  width: 289px;
  padding: 10px;
  padding-left: 22px;
  padding-right: 22px;
  text-align: center;
  border-radius: 4px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 14px;
  margin-top: 20px;
  transition: all 300ms ease-in-out;
}
.call-to-action a:hover {
  background: #ffffff99;

  color: #040405;
  border-color: #a5b8b0;
  /* transition: none; */
}

.tv-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 88px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0b0c0f;
}
.tv-sub-title {
  font-family: "Graphik Web", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
}
.tv-title {
  font-family: "Graphik Web", sans-serif;
  font-size: 48px;
  letter-spacing: -0.5px;

  font-weight: 600;
  line-height: 1.25;
  color: white;
  margin: 16px 0 10px;
}

.tv-description {
  font-size: 16px;
  color: #f0f8ff;
  width: 54%;
  line-height: 1.36;
  text-align: center;
  font-weight: 400;
    margin-bottom: 50px;

}
.cards-container {
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
    
  width: 90%;
  display: flex;
  flex-wrap: wrap;

  /* flex-direction: row; */
  gap: 20px;
  justify-content: center;
  /* flex: auto; */
}

.card-item {
  width: 295px;
  flex-grow: 1;
  /* flex: auto; */
  /* flex-grow: 1/3; */
  /* flex-shrink: 1; */
  /* width: 100%; */
  height: 100%;
  border: 4px solid rgba(100, 53, 53, 0);
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}
.card-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  padding: 5px;
  border-radius: 10px;
}
.card-item-image img {
  border-radius: 10px;
}
.card-text {
  position: absolute;
  top: 25px;
  z-index: 99;
  left: 25px;
}
.card-title,
.card-sub-title {
  color: white;
  font-size: 12px;
  line-height: 1.44;

    font-weight: 500;
}
.card-sub-title{
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  padding: 0px;
  z-index: 99;
  border-radius: 10px;
  background: -webkit-linear-gradient(
    293.18deg,
    rgba(0, 0, 0, 0.5) 4.58%,
    transparent 69.61%
  ),
  -webkit-linear-gradient(65.5deg, rgba(0, 0, 0, 0.5) 4.71%, transparent
        71.49%);
  transition: all 300ms ease-in-out;
}
.card-item-image:hover .card-overlay {
  /* background-color: #1515ab4d; */
  background: -webkit-linear-gradient(
      293.18deg,
      rgba(0, 0, 0, 0.9) 4.58%,
      transparent 69.61%
    ),
    -webkit-linear-gradient(65.5deg, rgba(0, 0, 0, 0.4) 4.71%, transparent
          71.49%);
  /* border: 10px solid white; */
}

.card-item:hover {
  border: 4px solid #797d84;
  border-radius: 15px;

}

.add-on{
    position:absolute;
    /* bottom: -10px; */
    margin-top: 10px;
    font-family: "Graphik Web",sans-serif;
    font-size: 10px;
    line-height: 1.46;
    letter-spacing: 0;
    font-weight: 400;
    color: #ffffff99
    ;

}


.hulu-ads{
    font-size: 10px;
    font-weight: 400;
        margin: 0 25%;
        color: #ffffff99;
        text-align: center;
        

}
.hulu-ads span a{
    text-decoration: underline;
    color: #ffffff99;
}
.view-channels{
    margin-top: 16px;

}
.view-channels a{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .6px;
    text-decoration: underline;
    color: white;

}
.get-hulu-btn{
    background-color: #00ed82;
    padding: 16px 50px;
    font-weight: 600;
    border-radius: 5px;
    /* background-color: transparent; */
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 300ms ease-in-out;
}
.get-hulu-btn:hover{
    background-color: #1ce78390;
}
.margin-smaller{
    margin-bottom: 30px !important;
    /* border: 2px solid white; */
}


/* Live Sports Container */
.container-live-sports{
    width: 100%;
    height: 110vh;
    background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.8) -57.5%, rgba(0, 0, 0, 0) 98.72%),
     url(/assets/second-section-bg.png);
    background-repeat: no-repeat;
    object-fit: fill;
    position: relative;
    /* background-position: center center; */
    background-size: cover;
    background-position-x: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.live-sports-wrapper{
    width: 70%;
    height: 55vh;
    /* border: 1px solid White; */
    padding: 50px;
    padding-top: 20px;
}

.sports-menu ul{
    display: flex;
    /* gap: 25px; */

}
.sports-menu ul li{
    list-style: none;
    margin-right: 30px;
    padding-bottom: 15px;
    color:  hsl(0deg 0% 100% / 40%);

    line-height: 1.125;
    font-size: 12px;
    font-weight: 500;
    /* font-size: 100%; */
   
    letter-spacing: 0.25px;
    cursor: pointer ;
    transition: all 300ms ease-in-out;
}
.sports-menu ul li:hover{
    color: #ffffff99;

}
.tab-active{
    border-bottom: 4px solid white;
    color: white !important;

}
.tab-active:hover{
    color: #ffffff99 !important;

}

.sports-title,.sports-description{
color: white;
width: 50%;
}
.sports-title{
    font-size: 48px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.5px;
    margin-top: 25px;
}
.sports-description{
    font-size: 16px;
    line-height: 1.36;
    letter-spacing: 0;
    font-weight: 400px;
    margin-top: 18px;
}

.partners-logos{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
   
}
.partner-logo{
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 50%;
    margin-right: 30px;
    /* border: none; */
}
.live-sports-wrapper .hulu-ads{
    text-align: start;
   
    margin: 0;
}